.redTurn
{
    border: 1px solid red;
}
thead>tr>th {
    cursor: pointer;

}
.has-search .form-control {
    padding-left: 2.375rem;
}
/* td[_ngcontent-c1] {
    max-width: 200px;
    width: 200px;
} */
td{
    max-width: 150px;
}
/* .fcs{
    max-width: 150px;

} */
input[type="text"] {
    max-width: 150px;
    width: 150px;
}
.fclass{
    background :none;
    border: none;
}