
<!-- 
<div>
    <h2>&nbsp;&nbsp;&nbsp;Add Detail &nbsp;&nbsp;&nbsp; </h2>
    <div class="container"> -->
<div class="container" >  
  <div class="jumbotron h-50">
    <h2> Add User</h2>  
</div>
<div class="container float-sm-left">
<form [formGroup]="form" >
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="emp_id">Employee Id:</label>
    <div class="col-sm-10">

        <input 
              formControlName= "emp_id"
               id="emp_id"
               type="text"
               class="form-control w-50" 
               placeholder="Employee Id"
               name="emp_id">
               <div *ngIf="form.get('emp_id').touched && form.get('emp_id').invalid" class="alert alert-danger w-50 h-20">
                  <div  *ngIf="form.get('emp_id').errors.required" >Employee Id is Required!</div>
                  <div  *ngIf="form.get('emp_id').errors.pattern">Employee Id should be Number</div>
              </div>
     </div>
     <br>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="emp_name">Employee Name:</label>
       <div class="col-sm-10">
            <input 
              formControlName= "emp_name"
               id="emp_name"
               placeholder="Employee Name"
               type="text" 
               class="form-control w-50" 
               name="emp_name">
        <div *ngIf="form.get('emp_name').touched && form.get('emp_name').invalid" class="alert alert-danger w-50 h-20">
            <div *ngIf="form.get('emp_name').errors.required">Employee Name is Required!</div>
            <div *ngIf="form.get('emp_name').errors.pattern">Employee Name should between 2-20 character</div>
        </div>
        </div>
  <br>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="emp_salary">Employee Salary:</label>
       <div class="col-sm-10">

        <input 
              formControlName= "emp_salary"
               id="emp_salary"
               placeholder="Employee Salary"
               type="text" 
               class="form-control w-50" 
               name="emp_salary">
               <div *ngIf="form.get('emp_salary').touched && form.get('emp_salary').invalid" class="alert alert-danger w-50 h-20">
                  <div *ngIf="form.get('emp_salary').errors.required">Employee Salary is Required!</div>
                  <div *ngIf="form.get('emp_salary').errors.pattern">Employee Salary should be number</div>
              </div>
        </div>
  <br>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="emp_age">Employee Age:</label>
       <div class="col-sm-10">
         <input 
              formControlName="emp_age"
              placeholder="Employee Age"
               id="emp_age"
               type="text" 
               class="form-control w-50" 
               name="emp_age">
               <div *ngIf="form.get('emp_age').touched && form.get('emp_age').invalid" class="alert alert-danger w-50 h-20">
                  <div *ngIf="form.get('emp_age').errors.required">Employee Age is Required!</div>
                  <div *ngIf="form.get('emp_age').errors.pattern">Employee Age should between 0-200</div>
              </div>
        </div>
  <br>
  </div>
  <div class="container col-sm-10">
  <button [disabled]="!form.valid" type="submit" class="btn btn-primary" (click)="onAdd()">ADD</button> 
   &nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-primary" routerLink="/list-emp">Cancel</button>
  </div>
 &nbsp;
  <span>{{err}}</span> 
</form>
</div>
</div>
  <!-- <span>{{err}}</span>
        <button [disabled]="true" type="submit" class="btn btn-primary">ADD</button>  

   -->



<!-- Employee name:<br>
  <input type="text" name="emp_name" [(ngModel)]="eName" value=""><br>
  Employee salary:<br>
  <input type="text" name="emp_salary" [(ngModel)]="eSalary" value=""><br>
  Employee age:<br>
  <input type="text" name="emp_age" [(ngModel)]="eAge" value=""><br><br>
  
<button type="submit" class="btn btagtn-primary" (click)="add(eId,eName,eSalary,eAge)">Add</button> -->

<!-- &nbsp;&nbsp;&nbsp; -->

<!-- <a routerLink="/list-emp">list Employee</a> -->
<!-- </div>
</div> -->
