
<div class="container">
  <div class="jumbotron h-50">
    <h2> Add User</h2>
  </div>
  
  <div class="justify-content-center container">
    <form [formGroup]="form">


      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="emp_name">Employee Name:</label>
        <div class="col-sm-10">
          <input formControlName="emp_name" id="emp_name" placeholder="Employee Name" type="text" class="form-control w-50"
            name="emp_name">
          <div *ngIf="form.get('emp_name').touched && form.get('emp_name').invalid" class="alert alert-danger w-50 h-20">
            <div *ngIf="form.get('emp_name').errors.required">Employee Name is Required!</div>
            <div *ngIf="form.get('emp_name').errors.pattern">Employee Name should between 2-20 character</div>
          </div>
        </div>
        <br>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="emp_phnumber">Employee Phone no:</label>
        <div class="col-sm-10">

          <input formControlName="emp_phnumber" id="emp_phnumber" type="text" class="form-control w-50" placeholder="Employee Phone no"
            name="emp_phnumber">
          <div *ngIf="form.get('emp_phnumber').touched && form.get('emp_phnumber').invalid" class="alert alert-danger w-50 h-20">
            <div *ngIf="form.get('emp_phnumber').errors.required">Employee Phone no is Required!</div>
            <div *ngIf="form.get('emp_phnumber').errors.pattern">Employee Phone no should be Number</div>
          </div>
        </div>
        <br>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="emp_salary">Employee Salary:</label>
        <div class="col-sm-10">

          <input formControlName="emp_salary" id="emp_salary" placeholder="Employee Salary" type="text" class="form-control w-50"
            name="emp_salary">
          <div *ngIf="form.get('emp_salary').touched && form.get('emp_salary').invalid" class="alert alert-danger w-50 h-20">
            <div *ngIf="form.get('emp_salary').errors.required">Employee Salary is Required!</div>
            <div *ngIf="form.get('emp_salary').errors.pattern">Employee Salary should be number</div>
          </div>
        </div>
        <br>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="emp_dob">Employee BirthDate:</label>
        <div class="col-sm-10">
          
            <input formControlName="emp_dob" placeholder="Datepicker" triggers="dblclick:click" [bsConfig]="datePickerConfig" id="emp_dob" type="text" class="form-control w-50"
            name="emp_dob" bsDatepicker>
          
        </div>
        <br>
      </div>
      <div class="container col-sm-10">
        <button [disabled]="!form.valid" type="submit" class="btn btn-primary" (click)="onAdd()">ADD</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" routerLink="/list-emp">Cancel</button>
      </div>
      &nbsp;
      <span>{{err}}</span>
    </form>
  </div>
</div>
